<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Meta Information -->
  <title>Battleship Game</title>

  <!-- External CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    type="text/css" />

  <!-- External Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap"
    rel="stylesheet">


  <!-- App CSS -->
  <link rel="stylesheet" href="/css/layout.css" type="text/css" />
  <link rel="stylesheet" href="/css/main.css" type="text/css" />
  <link rel="stylesheet" href="/css/gameboards.css" type="text/css" />
  <link rel="stylesheet" href="/css/ships.css" type="text/css" />


  <!-- External JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- App JS -->

</head>

<body>
  <nav>

  </nav>
  <header>

  </header>
  <main>
    <div class="game">
      <section class="game-boards">
        <div class="player human">
          <header class="x-axis">
            <p>A</p>
            <p>B</p>
            <p>C</p>
            <p>D</p>
            <p>E</p>
            <p>F</p>
            <p>G</p>
            <p>H</p>
            <p>I</p>
            <p>J</p>
          </header>
          <div class="center-board">
            <aside class="y-axis">
              <p>1</p>
              <p>2</p>
              <p>3</p>
              <p>4</p>
              <p>5</p>
              <p>6</p>
              <p>7</p>
              <p>8</p>
              <p>9</p>
              <p>10</p>
            </aside>
            <div class="game-bounding-box">
              <div class="boat carrier" draggable="true"></div>
              <div class="boat battleship"></div>
              <div class="boat cruiser"></div>
              <div class="boat submarine"></div>
              <div class="boat destroyer"></div>
              <div class="row one">
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
              </div>
              <div class="row two">
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
              </div>
              <div class="row three">
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
              </div>
              <div class="row four">
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
              </div>
              <div class="row five">
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
              </div>
              <div class="row six">
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
              </div>
              <div class="row seven">
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
              </div>
              <div class="row eight">
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
              </div>
              <div class="row nine">
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
              </div>
              <div class="row ten">
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="separate"></div>
        <div class="player cpu">
          <header class="x-axis">
            <p>A</p>
            <p>B</p>
            <p>C</p>
            <p>D</p>
            <p>E</p>
            <p>F</p>
            <p>G</p>
            <p>H</p>
            <p>I</p>
            <p>J</p>
          </header>
          <div class="center-board">
            <aside class="y-axis">
              <p>1</p>
              <p>2</p>
              <p>3</p>
              <p>4</p>
              <p>5</p>
              <p>6</p>
              <p>7</p>
              <p>8</p>
              <p>9</p>
              <p>10</p>
            </aside>
            <div class="game-bounding-box">
              <!-- <div class="boat carrier"></div>
              <div class="boat battleship"></div>
              <div class="boat cruiser"></div>
              <div class="boat submarine"></div>
              <div class="boat destroyer"></div> -->
              <div class="row one">
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
              </div>
              <div class="row two">
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
              </div>
              <div class="row three">
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
              </div>
              <div class="row four">
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
              </div>
              <div class="row five">
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
              </div>
              <div class="row six">
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
              </div>
              <div class="row seven">
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
              </div>
              <div class="row eight">
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
              </div>
              <div class="row nine">
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
              </div>
              <div class="row ten">
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
                <div class="game-tile"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
  <footer>

  </footer>
</body>

</html>