@use 'base';

.game-boards {
  .player {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 0.75rem;
    // margin: 1rem;
    // @include base.corner;
  }
  .separate {
    width: 2%;
    height: 90%;
    background-color: base.$primary-blue;
    @include base.corner;
  }
}

.player {
  header.x-axis {
    all: unset;
    width: 76%;
    height: 10%;
    background-color: base.$primary-blue;
    @include base.corner;
    align-self: flex-end;
    margin-right: 5%;
  }
  .center-board {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 80%;
    // background-color: base.$primary-blue;
    // @include base.corner;
    aside.y-axis {
      width: 10%;
      height: 90%;
      background-color: base.$primary-blue;
      @include base.corner;
    }
    .game-bounding-box {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      width: 75%;
      height: 90%;
      background-color: base.$primary-blue;
      border-radius: 1rem;
    }
  }
}

div.game-bounding-box {
  .row {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    width: 4.5%;
    height: 93%;
  }
  .game-tile {
    width: 100%;
    height: 5%;
    background-color: base.$secondary-blue;
    @include base.corner;
  }
  .game-tile:hover {
    background-color: base.$calm-red;
  }
}
