@use 'base';

.game-boards {
  .player {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    // padding-top: 0.75rem;
    // margin: 1rem;
    // @include base.corner;
  }
  .separate {
    width: 2%;
    height: 80%;
    background-color: base.$primary-blue;
    @include base.corner;
  }
}

.player {
  header.x-axis {
    all: unset;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 10%;
    align-self: flex-start;
    margin-top: 1rem;
    margin-left: 5%;
    @include base.corner;
  }
  .center-board {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 90%;
    cursor: crosshair;
    aside.y-axis {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      width: 10%;
      height: 82%;
      p {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 55%;
        height: 8%;
        color: base.$neutral-offwhite;
        font-weight: 700;
        font-size: 1rem;
        margin: 0.2rem;
        background-color: base.$primary-blue;
        border-radius: 6rem;
      }
    }
    .game-bounding-box {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: repeat(10, 1fr);
      width: 80%;
      height: 80%;
      padding: 0.65rem;
      background-color: base.$primary-blue;
      border-radius: 1rem;
    }
  }
}

div.game-bounding-box {
  .row {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .one {
    grid-area: 1 / 1 / 2 / 11;
  }
  .two {
    grid-area: 2 / 1 / 3 / 11;
  }
  .three {
    grid-area: 3 / 1 / 4 / 11;
  }
  .four {
    grid-area: 4 / 1 / 5 / 11;
  }
  .five {
    grid-area: 5 / 1 / 6 / 11;
  }
  .six {
    grid-area: 6 / 1 / 7 / 11;
  }
  .seven {
    grid-area: 7 / 1 / 8 / 11;
  }
  .eight {
    grid-area: 8 / 1 / 9 / 11;
  }
  .nine {
    grid-area: 9 / 1 / 10 / 11;
  }
  .ten {
    grid-area: 10 / 1 / 11 / 11;
  }
  .game-tile {
    width: 7%;
    height: 80%;
    background-color: base.$secondary-blue;
    border-radius: 1rem;
  }
  .game-tile:hover {
    background-color: base.$calm-red;
  }
}
