.game-boards .player {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}
.game-boards .separate {
  width: 2%;
  height: 80%;
  background-color: #2b2d42;
  border-radius: 2rem;
}
.game-boards p,
.game-boards button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 8%;
  height: 55%;
  color: #edf2f4;
  font-weight: 700;
  font-size: 1rem;
  margin: 0.2rem;
  font-kerning: 1000;
  background-color: #2b2d42;
  border-radius: 6rem;
  writing-mode: vertical-lr;
  transform: scale(-1, -1);
}

.player header.x-axis {
  all: unset;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 10%;
  align-self: flex-start;
  margin-top: 1rem;
  margin-left: 5%;
  border-radius: 2rem;
}
.player .center-board {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 90%;
  cursor: pointer;
}
.player .center-board aside.y-axis {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 10%;
  height: 82%;
}
.player .center-board .game-bounding-box {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 80%;
  height: 80%;
  padding: 0.65rem;
  background-color: #2b2d42;
  border-radius: 1rem;
}

div.game-bounding-box .row {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
div.game-bounding-box .one {
  grid-area: 1/1/2/11;
}
div.game-bounding-box .two {
  grid-area: 2/1/3/11;
}
div.game-bounding-box .three {
  grid-area: 3/1/4/11;
}
div.game-bounding-box .four {
  grid-area: 4/1/5/11;
}
div.game-bounding-box .five {
  grid-area: 5/1/6/11;
}
div.game-bounding-box .six {
  grid-area: 6/1/7/11;
}
div.game-bounding-box .seven {
  grid-area: 7/1/8/11;
}
div.game-bounding-box .eight {
  grid-area: 8/1/9/11;
}
div.game-bounding-box .nine {
  grid-area: 9/1/10/11;
}
div.game-bounding-box .ten {
  grid-area: 10/1/11/11;
}
div.game-bounding-box .game-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7%;
  height: 80%;
  background-color: #8d99ae;
  border-radius: 1rem;
  font-size: 0;
}
div.game-bounding-box .game-tile:hover {
  background-color: #944343;
  font-size: 70%;
}

.side.new-game {
  width: 100%;
  height: 100%;
}
.side.new-game p,
.side.new-game button {
  writing-mode: unset;
  transform: unset;
  width: 100%;
  background-color: #2b2d42;
}
.side.new-game p:hover,
.side.new-game button:hover {
  background-color: #439458;
  cursor: pointer;
}
.side.new-game .ships.player {
  flex-direction: column;
}
.side.new-game button {
  margin-top: 2rem;
  padding: unset;
  border: unset;
}
